%center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  $pink: rgb(255, 0, 179);
  $green: #1db901;
  $blue: rgb(67, 67, 182);
  $background: #012538;
  $behind: #ffff;
  $grayTextDark: #575757;
  $grayTextLight: #797979;
  $grayTextLighter: #adadad;
  $grayTextLightest: #cccccc;
  $text: #ffff;

  // old colour #7dc2af