&.gallery {
    align-items: center;
    justify-content: center;

    .container {
      display: flex;
      flex-direction: column;
      background: #000;
      border-radius: 1rem;
      margin: 0;
      width: 100vw;
      min-height: 100vh;

      .gallery-back {
        cursor: pointer;
        color: #fff;
        margin: .5rem 3rem 0;
        font-size: 1.5rem;
        align-self: center;
      }

      .gallery-title {
        @extend %center;
        font-size: 2rem;

        h1 {
          color: $green;
          margin: 0 1rem 1rem;;
        }
      }

      .gallery-content {
        .gallery-images-show {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: center;
          flex-direction: row;

          .gallery-image {
            display: flex;
            width: 15vw;
            height: 15vw;
            margin: 0.2rem;
            border: 3px solid $pink;
            box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
            min-width: 20rem;
            min-height: 20rem;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            cursor: pointer;

            .gallery-image-img {
              width: inherit;
              min-width: inherit;
            }
          }
        }
        .gallery-image-slider {
          display: flex;
          margin: 0 5rem;
          @extend %center;

          @media only screen and (max-width: 600px) {
            align-items: flex-start;

            .gallery-image-slider-slide{
              margin: 10rem 1rem;

            }
          }

          .fa-times {
            color: white;
            display: flex;
            align-self: baseline;
            font-size: 3rem;
            color: rgb(255, 255, 255);
            cursor: pointer;
            margin-left: -2.6rem;
            margin-top: .01rem;
            text-shadow: #000 2px 1px;
          }
          
          .gallery-image-slider-slide {
            color: $green;
            font-size: 5rem;
            cursor: pointer;
            margin: 20rem 1rem;
            align-self: flex-start;

            @media only screen and (max-width: 600px) {
                margin: 12rem 0;
            }
          }
          
          img {
            justify-self: flex-start;
            cursor: pointer;
            max-width: 70vw;
            min-width: 85vw;
            
            @media only screen and (max-width: 600px) {
              align-self: center;
            }
          }
        }
      }
    }
  }