@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto');


@import '__variables';
@import '__components';

body {
  margin: 0;
  height: 100vh;
  background: $behind;

  #app {
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;

    .slider {
      width: 100vw;
      display: flex;
      height: inherit;
      transition: transform 0.2s ease;
      justify-content: center;

      main {
        @import 'home';

        @import 'gallery';

        @import 'movie-shelf';
        
        @import 'movie';
        
        @import 'add-movie';


      }
    }
  }
}
