@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css?family=Nunito");

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$pink: rgb(255, 0, 179);

body {
  margin: 0;
  height: 100vh;
  background: $pink;

  #app {
    margin: 0;
    height: 100vh;
    font-family: "Noto Sans", sans-serif;
    overflow-x: hidden;

    .slider {
      width: 400vw;
      display: flex;
      height: inherit;
      overflow-x: hidden;
      overflow-y: hidden;
      transition: transform 0.2s ease;

      &.slide-0 {
        transform: translate3d(0, 0, 0);
      }

      &.slide-1 {
        transform: translate3d(-100vw, 0, 0);
      }

      &.slide-2 {
        transform: translate3d(-200vw, 0, 0);
      }

      &.slide-3 {
        transform: translate3d(-300vw, 0, 0);
      }

      main {
        &.home {
          @extend %center;

          .container {
            justify-self: center;
            display: grid;
            background: black;
            color: #fff;
            border-radius: 1rem;
            width: 100vw;
            height: 100vh;
            grid-template-columns: 1fr;
            grid-template-rows: 7rem auto 3rem;
            grid-template-areas:
              "home-title"
              "home-content"
              "home-footer";

            .home-title {
              grid-area: home-title;
              font-size: 2rem;
              display: flex;
              flex-direction: column;
              @extend %center;
              font-weight: 800;
              h1 {
                flex: 1;
                margin: 2rem 0 0;
                color: $pink;
              }
              p {
                flex: 2;
                font-size: 1rem;
                margin: 0;
              }
            }

            .home-content {
              grid-area: home-content;
              @extend %center;
              justify-self: center;
              display: flex;
              flex-direction: column;
              max-width: 500px;

              img {
                flex: 1;
                width: 9rem;
                border-radius: 999rem;
                margin: 0 0 2rem;
              }

              .home-text {
                flex: 2;
                text-align: justify;
                padding: 1rem;
              }

              .home-swipe-text {
                border: 2px solid $pink;
                padding: 0.5rem;
                border-radius: 1rem;
                font-weight: 900;
                color: $pink;
                background: #000;
                margin-bottom: 1rem;
              }
            }

            .home-footer {
              grid-area: home-footer;
              @extend %center;
              border-top: 1px solid black;
              padding: 0.5rem 0 0 0;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: baseline;
              font-size: 13px;
              margin: 0;

              a {
                text-decoration: none;
                color: $pink;
              }

              .home-footer-contact {
                padding-right: 1rem;
                padding-left: 2rem;

                .home-footer-contact-mail {
                  margin-right: 2rem;
                  width: 10px;
                }
              }

              .home-footer-links {
                text-align: right;
                padding-right: 2rem;
                padding-left: 1rem;

                .home-footer-links-git {
                  margin-right: 2rem;
                }
              }
            }
          }
        }

        &.gallery {
          align-items: center;

          .container {
            background: #000;
            border-radius: 1rem;
            height: 100vh;
            margin: 0;
            display: grid;
            width: 100vw;
            grid-template-columns: 1fr;
            grid-template-rows: 5rem 40rem;
            grid-template-areas:
              "gallery-title"
              "gallery-content";

            .gallery-title {
              grid-area: gallery-title;
              @extend %center;
              font-size: 2rem;

              h1 {
                margin: 0;
              }
            }

            .gallery-content {
              grid-area: gallery-content;
              display: flex;
              flex-wrap: wrap;
              align-items: flex-start;
              justify-content: center;
              flex-direction: row;
              max-height: 100vh;

              .gallery-image {
                width: 20vw;
                height: 20vw;
                margin: 10px;
                border: 3px solid $pink;
                box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
                max-width: 23vw;
              }
            }
          }
        }

        &.movie-shelf {
          @extend %center;

          .container {
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            width: 100vw;
            height: 100vh;
            background: #000;
            color: #fff;
            @extend %center;
            .movie-shelf-title {
              display: flex;
              height: 7rem;
              font-size: 2rem;
              font-weight: 800;
              color: $pink;
            }

            .movie-shelf-content {
              flex: 1;
              display: flex;
            }
          }
        }

        &.movie {
          @extend %center;

          .container {
            width: 100vw;
            height: 100vh;
            background: #000;
            display: flex;
            flex-direction: column;
          }

        }
      }
    }
  }
}
