&.movie {
  @extend %center;

  .container {
    color: white;
    width: 100vw;
    height: 100%;
    background: $background;
    display: flex;
    flex-direction: column;
    @extend %center;

    .selected-movie-back {
      cursor: pointer;
      color: black;
      font-size: 1.5rem;
    }

    .selected-movie {
      margin: 0.5rem;
      width: 25rem;
      max-width: 100vw;
      display: flex;
      flex-direction: column;

      div {
        margin: 0.5rem;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;

        border-bottom: 1px solid $grayTextLight;


        span {
          &.selected-movie-text {
            font-size: 1.2rem;
            color: $blue;
          }

          &.selected-movie-chosen {
            text-align: center;
            width: 100%;
            margin: 0;
            color: $grayTextDark;
            font-size: 1.5rem;
            display: flex;
            flex-direction: column;
          }

          &.color {
            color: #fff;
          }

          &.selected-movie-filter {
            cursor: pointer;
            color: $grayTextDark;
            width: 100%;
          }
        }
      }
    }
  }
}
