&.movie {
  @extend %center;

  .container {
    color: white;
    width: 100vw;
    height: 100vh;
    background: #000;
    display: flex;
    flex-direction: column;
    @extend %center;

    .selected-movie-back {
      cursor: pointer;
      color: #fff;
      font-size: 1.5rem;
    }

    .selected-movie {
      margin: 0.5rem;
      max-width: 22rem;
      display: flex;
      flex-direction: column;

      div {
        margin: 0.5rem;
        text-align: left;
        width: 100%;
        display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.281);


        span {
          &.selected-movie-text {
            font-size: 1.2rem;
            align-self: center;
            color: $pink;
          }

          &.selected-movie-chosen {
            text-align: right;
            width: 100%;
            margin: 0;
            color: $green;
            font-size: 1.5rem;
          }

          &.color {
            color: #fff;
          }

          &.selected-movie-filter {
            cursor: pointer;
            color: $green;
            margin: 0 0 0 5rem;
            width: 100%;
          }
        }
      }
    }
  }
}
